<%- include("./includes/head"); %> <%- include("./includes/navbar"); %>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 my-4">
      <!-- Card -->
      <div class="card shadow-sm text-center">
        <div class="card-body">
          <h1 class="display-4 text-danger mb-3">Erro 404</h1>

          <p class="lead mb-4">
            A página que você está procurando não foi encontrada.
          </p>

          <a href="/" class="btn btn-dark"> Voltar para a página inicial </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("./includes/footer"); %>
